<!DOCTYPE html>
<html>
<head>
  <title>Emphatic invalids</title>
  <%= stylesheet_link_tag    "emphatic_invalids/application", media: "all" %>
  <%= javascript_include_tag "emphatic_invalids/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
