
/*
 *= require emphatic_invalids/jquery-ui.css
*/


.highlight-error {
	border: solid 2px #a94442;
  background-color: #fcf8e3;
}

.error-tooltips {
	font-size: 12px !important;
	color: white !important;
	border-color: red !important;
	background: #a94442 !important;
	opacity:0.95;
}