.rb-group {
	border: solid 1px gray; 
	border-radius: 7px; 
	width: 200px; 
	padding: 5px; 
	margin: 5px;
}

.highlight-error {
	border: solid 2px #a94442;
  /*background-color: inherit;*/
}

.error-tooltips {
	font-size: 16px !important;
	font-style: italic;
	/*color: white !important;
	border-color: red !important;
	background: #a94442 !important;
	opacity:0.95;*/
}

/* JOM 10/16/2019: Needed because as each invalid field gained focus an element was added to a visible list at the bottom of the page */
.ui-helper-hidden-accessible { display:none; }